---
layout: default
title: "Kamerkoor Arachne - Home"
description: ""
keywords: "kamerkoor, klassiek, koor, zingen"
---

{% include header.html %}

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav"></div>
    <div class="col-sm-8 text-left">
      <center>
        <p><strong></strong></p>
        <hr>Arachne houdt je vast in haar muzikale web<hr>
        <p><strong>
          <img src="img/Arachne_bij_Vloeken_in_de_Kerk.jpg" style="width: 80%; height: 80%" alt="Arachne bij Vloeken in de Kerk"><br>
        </strong></p>
        <hr>
      </center>
    </div>
    <div class="col-sm-2 text-left sidenav">
      <p><hr></p>
      <p>Check onze agenda <a href="/agenda">hier</a></p>
      <p><hr></p>
      <p>Wij zijn nog op zoek naar <strong>tenoren!</strong> Interesse? Vind ons op 
        <a href="https://www.facebook.com/groups/132836073444462/" target="_blank">Facebook</a>.
      </p>
      <p><hr></p>
    </div>
  </div>
</div>

<div class="clear"></div>

{% include footer.html %}