<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta name="keywords" content="{{ page.keywords | default: site.keywords }}">

    <link rel="icon" href="/{{ repository_name }}/favicon.ico" type="image/x-icon">
    <!-- Include CSS -->
    <link rel="stylesheet" href="/{{ repository_name }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/{{ repository_name }}/assets/css/style.css">
</head>

<body>
    <!-- Header (if applicable) -->
    {% include header.html %}

    <!-- Main content -->
    <main>
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                </div>
                {{ content }}
                <div class="col-sm-2 text-left sidenav">
                    <p></p>
                    <hr>
                    <p></p>
                    <p>Check onze agenda <a href="https://www.kamerkoor-arachne.nl/agenda">hier</a></p>
                    <p></p>
                    <hr>
                    <p></p>
                    <p>Wij zijn nog op zoek naar <strong>tenoren!</strong> Interesse? Vind ons op <a
                            href="https://www.facebook.com/groups/132836073444462/"
                            target="https://www.facebook.com/groups/132836073444462/">Facebook</a>.</p>
                    <p></p>
                    <hr>
                    <p></p>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer (if applicable) -->
    {% include footer.html %}

    <!-- Include JavaScript -->
    <script src="/{{ repository_name }}/assets/js/jquery.min.js"></script>
    <script src="/{{ repository_name }}/assets/js/bootstrap.min.js"></script>
</body>

</html>
